<footer class="site-footer" style="background-color:black; ">
  <link rel="stylesheet" style="color:#006d00;">
  <div class="wrapper">

      <div class="footer" style="color:#006d00;">
        <p> &gt find_me_on( <a href="https://github.com/mpatacchiola" style="text-decoration: underline; color:#006d00;"><b>Github</b></a>, <a href="https://plus.google.com/107856134071985688983" style="text-decoration: underline; color:#006d00;"><b>GooglePlus</b></a>, <a href="https://www.youtube.com/channel/UC6AxKVw2y_b3ab-esLdK0_g" style="text-decoration: underline; color:#006d00;"><b>YouTube</b></a>); </p>
        <p> &gt return_copyright(2016, MassimilianoPatacchiola, AllRightsReserved);</p>
      </div>
    </div>

  </div>

</footer>
