<html>
   <head> </head>
   
   <body>
      <script type="text/javascript">
         <!--
            function Redirect() {
               window.location="http://mpatacchiola.github.io/";
            }
            setTimeout('Redirect()', 10000);
         //-->
      </script>

<p>Since I already have a personal page you will be redirected there in 10 seconds.</p>
<p>If you are too paranoid and you disabled JavaScript then click <a href="http://mpatacchiola.github.io/">here</a></p>

   </body>
</html>
