---
layout: default
---

<div class="home">

  <h1 class="page-heading"><b>Blog Posts</b></h1>
  
  {{ content }}

  <ul class="post-list">

    {% for post in site.posts %}
    {% if post.published== true  %}
      <li><span>{{ post.date | date: "[%Y.%m.%d]" }}</span> &raquo; <a class="post-link" href="{{ post.url | relative_url}}" style="text-decoration: underline; font-size:100%; display: inline;">{{ post.title}}</a></li>
    {% endif %}
    {% endfor %}

  </ul>

  <h1 class="page-heading"><b>Open Source Projects</b></h1>

  <ul class="post-list">  
      <li><span><a href="https://github.com/mpatacchiola/deepgaze" style="text-decoration: underline;">Deepgaze</a> </span> &raquo; Computer Vision library for Human-Computer interaction </li>

      <li><span><a href="https://github.com/mpatacchiola/pyERA" style="text-decoration: underline;">pyERA</a> </span> &raquo; Python library for Self-Organizing Maps and Hebbian learning </li>
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  <a class="rss-subscribe" href="https://feedburner.google.com/fb/a/mailverify?uri=MpatacchiolaBlog&amp;loc=en_US">subscribe via Email</a>

</div>
