---
layout: default
---

<div class="home">
  
  {{ content }}

  <h1 class="page-heading">
      <img src="./images/new.png" alt="new post" height="20">
      <b>Few-shot Learning (video course)</b>
  </h1>
  
  <ul class="post-list">  
      <li><span><a href="https://youtu.be/Xuat7kHYwno" style="text-decoration: underline;">Lesson 1.0</a> </span> &raquo; Introduction, definition of the problem, terminology </li>

      <li><span><a href="https://youtu.be/OKIEx83v_jk" style="text-decoration: underline;">Lesson 1.1</a> </span> &raquo; Most common datasets: Omniglot, CUB, mini-ImageNet </li>
      
      <li><span><a href="https://youtu.be/Xol_w8xk5p0" style="text-decoration: underline;">Lesson 2.0</a> </span> &raquo; Literature review: MAML, ProtoNets, RelationNets, etc </li>
            
  </ul>

  <ul class="post-list">

    <h1 class="page-heading"><b>Reinforcement Learning</b></h1>
    {% for post in site.posts %}
    {% if post.published == true and post.type == 'reinforcement learning'  %}
      <li><span>{{ post.date | date: "[%Y.%m.%d]" }}</span> &raquo; <a class="post-link" href="{{ post.url | relative_url}}" style="text-decoration: underline; font-size:100%; display: inline;">{{ post.title}}</a></li>
    {% endif %}
    {% endfor %}

    <h1 class="page-heading"><b>Computer Vision</b></h1>
    {% for post in site.posts %}
    {% if post.published == true and post.type == 'computer vision'  %}
      <li><span>{{ post.date | date: "[%Y.%m.%d]" }}</span> &raquo; <a class="post-link" href="{{ post.url | relative_url}}" style="text-decoration: underline; font-size:100%; display: inline;">{{ post.title}}</a></li>
    {% endif %}
    {% endfor %}
    
        <h1 class="page-heading"><b>Bayesian Methods</b></h1>
    {% for post in site.posts %}
    {% if post.published == true and post.type == 'bayesian methods'  %}
      <li><span>{{ post.date | date: "[%Y.%m.%d]" }}</span> &raquo; <a class="post-link" href="{{ post.url | relative_url}}" style="text-decoration: underline; font-size:100%; display: inline;">{{ post.title}}</a></li>
    {% endif %}
    {% endfor %}

  </ul>


  <h1 class="page-heading"><b>Open Source Projects</b></h1>

  <ul class="post-list">  
      <li><span><a href="https://github.com/mpatacchiola/deepgaze" style="text-decoration: underline;">Deepgaze</a> </span> &raquo; Computer Vision library for Human-Computer interaction </li>

      <li><span><a href="https://github.com/mpatacchiola/pyERA" style="text-decoration: underline;">pyERA</a> </span> &raquo; Python library for Self-Organizing Maps and Hebbian learning </li>
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a> or <a href="https://feedburner.google.com/fb/a/mailverify?uri=MpatacchiolaBlog&amp;loc=en_US">via Email</a></p>

</div>
